#include "modapi/Version.h"
#include <winres.h>

#pragma code_page(65001)

VS_VERSION_INFO VERSIONINFO
    FILEVERSION MODAPI_VERSION_MAJOR, MODAPI_VERSION_MINOR, MODAPI_VERSION_PATCH
    PRODUCTVERSION MODAPI_VERSION_MAJOR, MODAPI_VERSION_MINOR, MODAPI_VERSION_PATCH
    FILEFLAGSMASK 0x3fL
    FILEFLAGS MODAPI_FILE_VERSION_FLAG
    FILEOS 0x40004L
    FILETYPE 0x2L
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "GroupMountain"
            VALUE "FileDescription", "Group Mountain Mod API"
            VALUE "FileVersion", MODAPI_FILE_VERSION_STRING
            VALUE "InternalName", "ModAPI.dll"
            VALUE "OriginalFilename", "ModAPI.dll"
            VALUE "ProductName", "ModAPI"
            VALUE "ProductVersion", MODAPI_FILE_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
